<footer class="flex justify-between px-20 pt-5 pb-3 w-full bg-gray-800 mt-auto">
    <div class="text-gray-200">
      <ul>
        <li class="font-bold text-xl mb-2">Contact Us:</li>
        <li class="hover:text-white hover:underline w-fit"><a href=""><i class="fa-regular fa-envelope" style="color: #f4f4f4;"></i> goelshivansh174@gmail.com</a></li>
        <li class="hover:text-white hover:underline w-fit"><a href=""><i class="fa-brands fa-linkedin" style="color: #f4f4f4;"></i> Shivansh-goel175</a></li>
        <li class="hover:text-white hover:underline w-fit"><a href=""><i class="fa-brands fa-instagram" style="color: #f4f4f4;"></i> Shivansh_goell</a></li>
        <li class="hover:text-white hover:underline w-fit"><a href=""><i class="fa-brands fa-twitter" style="color: #f4f4f4;"></i> Shivansh175</a></li>
        <li class="hover:text-white hover:underline w-fit"><a href=""><i class="fa-brands fa-github" style="color: #f4f4f4;"></i> Shivansh175</a></li>
      </ul>
    </div>
    <div class="text-gray-200">
      <ul>
        <li class="font-bold text-xl mb-2">Quick Links:</li>
        <li class="hover:text-white hover:underline w-fit"><a href="">Home</a></li>
        <li class="hover:text-white hover:underline w-fit"><a href="">About us</a></li>
        <li class="hover:text-white hover:underline w-fit"><a href="">Terms and Conditions</a></li>
        <li class="hover:text-white hover:underline w-fit"><a href="">Help</a></li>
      </ul>
    </div>
    <div class="flex-col-reverse flex text-gray-400">
      <p class=" align-bottom">copyright © 2023  DailyPilot</p>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="Styles/script.js"></script>
</body>
</html>