<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/659567f0e4.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body class="bg-gray-200 min-h-screen">
  <nav class="bg-purple-500 px-20 py-7 flex justify-between content-center text-white">
    <h1 class="font-bold text-2xl">
      <a href="/">DailyPilot</a>
      
    </h1>
    <ul class="flex justify-end space-x-16">
      <li class="text-xl"><a href="/">Home</a></li>
      <li class="text-xl"><a href="">About</a></li>
      <li class="text-xl"><a href="/login">SignIn</a></li>
    </ul>
  </nav>