<%- include("partials/header.ejs") %>

<div class="container flex flex-col place-items-center justify-center w-full py-14">

    <div class="taskBox flex flex-col place-items-center justify-center w-1/2">
        <ul class = "list w-full rounded-xl bg-gray-300  py-4 px-5 " id="mainList">
            <p class="text-2xl text-gray-500 ">No due tasks yet...</p>
        </ul>
    </div>
    <button type="button" id="add01" class="my-6 rounded-lg py-3 px-6 bg-purple-600 text-white text-lg">Add Task</button>
</div>
<form id="inputBox" action="/addTask" class=" w-1/3 flex-col  rounded-xl bg-gray-100 py-4 px-5 absolute shadow-xl top-1/3 hidden place-self-center" method="post">
    <input type="text" placeholder="Task Name" name="task" id="inputBox" class="w-full rounded-lg py-4 px-4 outline-none bg-gray-200 my-2 text-lg">
    <div class="flex">
        <button type="submit" id="add02" class="my-2 rounded-lg py-3 w-3/5 px-6 mx-auto mr-2 bg-purple-600 text-white text-lg">Add Task</button>
        <button type="button" id="cancel" class="my-2 rounded-lg py-3 w-2/5 px-6 mx-auto bg-gray-200 text-black text-lg ml-2" >Cancel</button>
    </div>
</form>

<%- include("partials/footer.ejs") %>