<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>
<body>
  <nav class="bg-purple-500 px-14 py-4 flex justify-between text-white">
    <h1 class="font-bold text-xl">
      DailyPilot
    </h1>
    <ul class="flex justify-end space-x-16">
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">SignIn</a></li>
    </ul>
  </nav>
  <main>

  </main>
</body>
</html>