
<%- include("partials/header.ejs") %>
<section class="flex justify-center content-center py-10">
    <div class="container flex flex-col bg-gray-300 w-1/2 my-10 py-12 justify-center place-items-center rounded-3xl">
        <h1 class="font-bold mb-5 text-3xl text-gray-900">Sign in</h1>
        <form action="/checkUser" class="flex-col flex w-2/3 py-2 justify-center content-center" method="post">
            <input class="my-3 px-3 py-3 align-middle justify-center rounded-lg outline-none text-xl" type="email" name="email" placeholder="email">
            <input class="my-3 px-3 py-3 align-middle justify-center rounded-lg outline-none text-xl" type="text" name="password" placeholder="password">
            <input class="my-5 px-2 py-3 align-middle justify-center rounded-lg cursor-pointer hover:bg-purple-700 bg-purple-600 text-white text-xl" type="submit" value="Continue">
        </form>
        <p class="text-2xl mt-3">Don't have an account? <a href="/signup" class="text-purple-600 hover:text-purple-700 underline">Create account</a></p>
    </div>
</section>

<%- include("partials/footer.ejs") %>