<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign UP page</h1>
    <h1><a href="/">DailyPilot</a></h1>
    
    <form action="/createUser" method="post">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="password" placeholder="password">
        <input type="submit" value="Continue">
    </form>
    <ul>
        <li><a href="/index">Continue</a></li>
        <li><a href="/login">Sign in</a></li>
    </ul>
    <h2><a href="/login">Login</a></h2>
</body>
</html>